<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Marina/LiupkaProjectJanuar23">

        <classes>
            <class name="LoginTest"></class>
            <class name="BannersTest"></class>
            <class name="DropdownTest"></class>
            <class name="SortTest"></class>
            <class name="ShoppingTest"></class>
            <class name="FooterLinksTests"></class>
        </classes>

    </test>
</suite>